.idea
.env
.users_cache.json
.channels_cache.json
.channels_cache_v2.json
/build/slack-mcp-server-*
/build/slack-mcp-server
/slack-mcp-server
/dist/
/npm/slack-mcp-server-*/bin/slack-mcp-server
docker-compose.release.yml
